<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p><%= post %></p>

    <% if (comments && comments.length > 0) { %>
      <p>Comments: </p>
      <ul>
        <% comments.forEach(function(comment) { %>
           <li><%= comment.body %> - <%= comment.createdBy.info.screenName %></li>
        <% }) %>
      </ul>
    <% } %>

    <p>This post (<%= conf.domain %>/posts/<%= post_id %>) was posted
    by <%= screenName %> (<%= conf.domain %>/users/<%= username %>) user.</p>
  </body>
</html>
