<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p><%= post %></p>

    <% if (likes.length > 0) { %>
      <p>Liked this post:
        <% likes.forEach(function(like) { %>
           <%= like.info.screenName %>
        <% }) %>
      </p>
    <% } %>

    <% if (comments.length > 0) { %>
      <p>Comments: </p>
      <ul>
        <% comments.forEach(function(comment) { %>
           <li><%= comment.body %> - <%= comment.createdBy.info.screenName %></li>
        <% }) %>
      </ul>
    <% } %>

    <p>This comment (http://pepyatka.com/posts/<%= username %>) was posted in reply to <%= screenName %> (http://pepyatka.com/users/<%= username %>) on Pepyatka. To comment, reply above this message.</p>
  </body>
</html>
