<li class="media">
  <div class="pull-left">
    <i class="icon-comment-alt media-object"></i>
  </div>

  {{#unless view.isEditFormVisible}}
    <div class="media-body">
      <span class="body">
        {{prettifyText body}}
      </span>
      -
      <span class="author">
        {{#linkTo 'user' createdBy.username}}
          {{#if view.commentOwner}}
            {{t label.you}}
          {{else}}
            {{createdBy.info.screenName}}
          {{/if}}
        {{/linkTo}}
      </span>

      {{#if view.commentOwner}}
        <span class="links">
          (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
          |
          <a {{action kill}}>{{t label.delete}}</a>)
        </span>
      {{/if}}
    </div>
  {{else}}
    {{#view App.EditCommentForm}}
      <div class="comment-form media">
        <div class="media-body">
          <div>
            {{view App.EditCommentField action="update" target="controller"
                  class="span7 input-tiny comment-area"}}
          </div>
          <div>
            {{view App.SubmitCommentButton action="submit" target="controller"
                  class="btn btn-small"}}
            <a {{action editFormVisibility target="view"}}>{{t label.cancel}}</a>
          </div>
        </div>
      </div>
    {{/view}}
  {{/unless}}
</li>
