<div class="container">
  <div class="row">
    <div class="span5">
      <h1 class="title">
        <a href="/">{{t title.title}}</a> <small class="mutted">{{t label.version}}</small>
      </h1>
    </div>

    <div class="span4 searchFieldView clearfix">
      <div>
        {{view App.SearchField action="search" target="controller"
              valueBinding="view.search"
              class="span3" viewName="textField"}}
        {{view App.SearchButton action="search" target="controller"
              class="btn pull-right"}}
      </div>
    </div>

    {{#unless isAnonymous}}
      {{#unless App.properties.isAuthorized}}
        <div class="span3 signin-toolbar">
          {{#linkTo 'signin'}}{{t label.signin}}{{/linkTo}}
          or
          {{#linkTo 'signup'}}{{t label.signup}}{{/linkTo}}
        </div>
      {{/unless}}
    {{/unless}}
  </div>


  <div class="row">
    <div class="span9">
      {{outlet}}
    </div>

    <div class="span3">
      {{#if App.properties.userId}}
        <div class="media profile">
          <div class="pull-left">
            <img class="media-object" src="/img/48x48.png">
          </div>

          <div class="media-body">
            <div class="author">
              {{#linkTo 'user' App.properties.username}}{{App.properties.screenName}}{{/linkTo}}
            </div>
            <div>
              {{#unless view.isAnonymous}}
                {{#linkTo 'settings' App.properties.userId}}{{t label.settings}}{{/linkTo}} -
              {{/unless}}
                <a href="/logout">{{t label.signout}}</a>
            </div>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="span3">
      <div>
        <h5>{{t header.groups}}</h5>

        {{view App.GroupsView}}
        <p><small>{{#linkTo 'groups'}}{{t label.createGroup}}{{/linkTo}}</small></p>
      </div>

      <div>
        <h5>{{t header.tags}}</h5>

        {{view App.Tags}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      <hr/>
      <footer>{{t message.footer}}</footer>
    </div>
  </div>
</div>
