<ul class="pager">
  {{#if prevPageVisible}}
    <li {{bind-attr class="prevPageDisabled"}}><a {{action prevPage href="true" target="controller"}}>{{t button.previous}}</a></li>
    {{else}}
  {{/if}}

  {{#if nextPageVisible}}
    <li {{bind-attr class="nextPageDisabled"}}><a {{action nextPage href="true" target="controller"}}>{{t button.next}}</a></li>
    {{else}}
  {{/if}}
</ul>
