<div class="media a-post">
  <div class="pull-left">
    <img class="media-object" src="/img/64x64.png">
  </div>

  <div class="media-body post">
    <h5 class="media-heading author">
      {{#link-to 'user' createdBy.username}}{{createdBy.info.screenName}}{{/link-to}}{{#unless
        view.myFeedOnly}}{{#if
        view.toOrColon}}:{{else}}{{#if
        view.colonOrBlank}} to {{/if}}{{/if}}
      {{/unless}}

      {{#each group in view.firstTwoGroups}}
        {{#link-to 'user' group.username}}
          {{formatGroupName
          group.username
          postBinding="controller.content"}}{{/link-to}}{{maybeSep
          group listBinding="view.firstTwoGroups" sep=","}}
      {{/each}}
    </h5>

    {{#if view.isEditFormVisible}}
      {{#view App.EditPostForm}}
        <div class="edit-post-form media">
          <div class="media-body">
            <div>
              {{view App.EditPostField action="update" target="controller"
                    class="span8 input-tiny comment-area"}}
            </div>
            <div>
              {{view App.SubmitPostButton action="update" target="controller"
                    class="btn btn-small"}}
              <a {{action toggleVisibility target="view"}}>{{t label.cancel}}</a>
            </div>
          </div>
        </div>
      {{/view}}
    {{else}}
      <div class="body">
        <div class="text post-text">{{prettifyText body}}</div>
        {{view App.YoutubeEmbeddedView textBinding="body" }}

        {{#each attachment in attachments}}
          {{#if attachment.isAttachmentImage}}
            <div class="image"><a target="_blank" {{bind-attr href="attachment.path"}}><img {{bind-attr alt="attachment.filename"}} {{bind-attr title="attachment.filename"}} {{bind-attr src="attachment.thumbnail.path"}} class="img-polaroid" /></a></div>
          {{/if}}
          {{#if attachment.isAttachmentAudio}}
            <div class="audio-wrapper">
              <div class="inner">
                <audio {{bind-attr id="attachment.id"}} {{bind-attr src="attachment.path"}}></audio>
                {{view App.AudioPlayerView playerIdBinding="attachment.id"}}
              </div>
              <div>
                <i class="icon-music"></i>&nbsp;<a target="_blank" {{bind-attr href="attachment.path"}}>{{attachment.filename}}</a>&nbsp;
                <span class="padding-left-small text-small muted">{{attachment.size}}</span>
              </div>
            </div>
          {{/if}}
          {{#if attachment.isAttachmentGeneral}}
            <div>
              <i class="icon-file"></i>&nbsp;<a target="_blank" {{bind-attr href="attachment.path"}}>{{attachment.filename}}</a>&nbsp;
              <span class="padding-left-small text-small muted">{{attachment.size}}</span>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

    <div class="tagline">
      {{#link-to 'post' this class="datetime"}}<time {{bind-attr datetime="createdAt"}}>{{createdAgo}}</time>{{/link-to}}

      {{#if App.properties.userId}}
        -
        <a {{action toggleVisibility target="view"}}>{{t label.comment}}</a>

        {{#unless currentUserLiked}}
          -
          <a {{action like target="controller"}}>{{t label.like}}</a>
        {{/unless}}

        {{#if view.postOwner}}
          <span class="links">
            (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
            |
            <a {{action kill target="controller"}}>{{t label.delete}}</a>)
          </span>
        {{/if}}
      {{/if}}
    </div>

    {{#if anyLikes}}
      <div class="media likes">
        <div class="pull-left">
          <i class="icon-heart media-object"></i>
        </div>

        <div class="media-body">
          <ul class="unstyled inline pull-left">
            {{view Ember.CollectionView contentBinding="likes"
                   itemViewClass="App.PartialLike"}}
          </ul>
          <span class="liked">{{t label.liked}}</span>
          {{#if currentUserLiked}}
            <span>(<a {{action unlike target="controller"}}>{{t label.unlike}}</a>)</span>
          {{/if}}
        </div>
      </div>
    {{/if}}

    <ul class="unstyled comments">
      {{each content.comments.content itemViewClass="App.PartialCommentView" itemController="comment"}}
    </ul>

    {{#view App.CommentForm}}
      <div class="comment-form media">
        <i class="icon-comment-alt media-object pull-left"></i>
        <div class="media-body">
          <div>
            {{view App.CreateCommentField action="submit" target="App.CommentController"
                  class="span7 input-tiny comment-area"}}
          </div>
          <div>
            {{view App.SubmitCommentButton action="submit" target="App.CommentController"
                  class="btn btn-small"}}
            <a {{action cancelComment target="view"}}>{{t label.cancel}}</a>
          </div>
        </div>
      </div>
    {{/view}}
  </div>
</div>
