<h3>{{t header.subscribers}} {{#link-to 'user' controller.content.username}}{{controller.content.info.screenName}}{{/link-to}}</h3>

<h3>{{t header.members}}</h3>
<ul>
  {{#each content itemController="subscriber"}}
    {{#unless isAdmin}}
      <li>
        {{#link-to 'user' username}}{{info.screenName}}{{/link-to}}

        {{#if view.isOwner}}
          {{#if view.showManagement}}
            (
            <a {{action removeSubscriber href="true"}}>{{t label.remove}}</a>
            {{#if view.hasAdmins}}
              |
              {{#unless isAdmin}}
                <a {{action addAdmin href="true"}}>{{t label.makeAdmin}}</a>
              {{/unless}}
            {{/if}}
            )
          {{/if}}
        {{/if}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

{{#if view.hasAdmins}}
  <h3>{{t header.admins}}</h3>
  <ul>
    {{#each content itemController="subscriber"}}
      {{#if isAdmin}}
        <li>
          {{#link-to 'user' username}}{{info.screenName}}{{/link-to}}
            {{#if view.isOwner}}
              {{#if view.showManagement}}
                (
                <a {{action removeAdmin href="true"}}>{{t label.removeAdminRights}}</a>
                )
              {{/if}}
            {{/if}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}

{{#if view.isOwner}}
  {{#if view.showManagement}}
    {{#link-to 'feedSubscribers' controller.content.username}}{{t label.browseSubscribers}}{{/link-to}}
  {{else}}
    {{#link-to 'manageSubscribers' controller.content.username}}{{t label.manageSubscribers}}{{/link-to}}
  {{/if}}
{{/if}}
