{{#if App.properties.userId}}
  <div class="clearfix submitForm">
    <div>
      {{view App.SendToField viewName="sendTo"}}
    </div>
    <div>
      {{view App.CreatePostField action="submitPost" target="controller"
            class="span9"}}
    </div>
    <div class="pull-left">
      {{t label.add.file}}{{view App.UploadFileView name="file"}}
    </div>
    <div class="pull-right">
      {{view App.SubmitPostButton action="submitPost" target="controller"
            class="btn pull-right"}}
    </div>
  </div>

  <div id="progressBar" {{bindAttr class="controller.isProgressBarHidden"}}>
    {{view Bootstrap.ProgressBar isStriped=true isAnimated=true
        progressBinding="controller.progress"}}
  </div>
{{/if}}

{{view App.JustStarted}}

<div class="offset4 spinner">
  <img src="/img/spinner.gif" width="32" height="32" />
</div>

<div class="posts">
  <ul class="media-list">
    {{each controller.posts.arrangedContent itemViewClass="App.PartialPostView" itemController="post"}}
  </ul>

  {{view App.Pagination}}
</div>
