<div class="row">
  <div class="span9 media">
    <div class="pull-left">
      <img class="media-object" src="/img/64x64.png">
    </div>

    <div class="media-body">
      <h3 class="pull-left">{{content.user.info.screenName}}</h3>

      <div class="pull-right profile-extra-info">
        {{#if view.subscriptionsLength}}
          <div>{{#linkTo 'feedSubscriptions' controller.user.username}}{{content.user.statistics.subscriptions}} {{t label.subscriptions}}{{/linkTo}}</div>
        {{/if}}

        {{#if view.subscribersLength}}
          <div>{{#linkTo 'feedSubscribers' controller.user.username}}{{content.user.statistics.subscribers}} {{t label.subscribers}}{{/linkTo}}</div>
        {{/if}}

        {{#if view.postsLength}}
          <div>{{#linkTo 'user' controller.user.username}}{{content.user.statistics.posts}} {{t label.posts}}{{/linkTo}}</div>
        {{/if}}

        {{#if view.likesLength}}
          <div>{{#linkTo 'likes' controller.user.username}}{{content.user.statistics.likes}} {{t label.likes}}{{/linkTo}}</div>
        {{/if}}

        {{#if view.commentsLength}}
          <div>{{#linkTo 'comments' controller.user.username}}{{content.user.statistics.comments}} {{t label.comments}}{{/linkTo}}</div>
        {{/if}}

        {{#unless view.ownProfile}}
          {{#if App.properties.userId}}
            <div class="row profile-actions">
              {{#if view.subscribedTo}}
                <a {{action unsubscribeTo}}>{{t label.unsubscribe}}</a>
              {{/if}}
            </div>
          {{/if}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>

{{#if view.showPostCreationForm}}
  <div class="postCreationField">
    <div class="clearfix submitForm">
      <div>
        {{view App.CreatePostField action="submitPost" target="controller"
              class="span9"}}
      </div>
      <div class="pull-left">
        {{t label.add.image}}{{view App.UploadFileView name="image"}}
      </div>
      <div class="pull-right">
        {{view App.SubmitPostButton action="submitPost" target="controller"
              class="btn pull-right"}}
      </div>
    </div>

    <div id="progressBar" {{bindAttr class="controller.isProgressBarHidden"}}>
      {{view Bootstrap.ProgressBar isStriped=true isAnimated=true
          progressBinding="controller.progress"}}
    </div>
  </div>
{{/if}}

{{#unless view.ownProfile}}
  {{#if App.properties.userId}}
    <div class="row profile-actions">
      {{#unless view.subscribedTo}}
        <a {{action subscribeTo}}>{{t label.subscribe}}</a>
      {{/unless}}
    </div>
  {{/if}}
{{/unless}}

<div class="posts">
  <ul class="media-list">
    {{each controller.posts.arrangedContent itemViewClass="App.PartialPostView" itemController="post"}}
  </ul>

  {{view App.Pagination}}
</div>
